body{
font-family: sans-serif;
background:#000000;
color:black;
margin:0;
padding: 0%;
text-align:center;
}

header{
padding:0;
margin: 0;
}
.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 15px;
background:chocolate;
}

h1{
letter-spacing:4px;
color: black;
font-size: 26px;
}

section{
margin:30px auto;
width:90%;
max-width:600px;
padding:20px;
border-radius:12px;
background-color: chocolate;
color: #000000;
}


.logo img{
width:60px;
}



.btn {
background: black;
color: orange;
border: none;
padding: 10px 18px;
border-radius: 20px;
cursor: pointer;
text-decoration: none;
font-weight: bold;
}

@media (max-width:768px){

.header{
flex-direction:column;
gap:12px;
}

h1{
font-size:32px;
}

.btn{
width:100%;
}

section{
width:90%;
padding:15px;
}
}